@model MarksonGroceries.Models.CartView
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="~/Scripts/Views/Home/HomeControllerJS.js"></script>

<div>
    <h4>Select your cart size</h4>
</div>

<input type="hidden" id="customerId" value="@Model.Id"/>
<div class="row">
    @{
        foreach (var c in Model.cartSizes)
        {
            <div class="col-md-2">
                <button class="btn @(Model.currentCartSize == c.Id ? "btn-primary" : "btn-secondary" ) cartSizeBtn" data-id="@c.Id">@c.CartSize</button>
            </div>
        }
    }

</div>

<div>
    <h4>Select Produce for your cart</h4>
</div>
<div class="row">
    <div data-toggle="buttons">
        @{
            foreach (var p in Model.produceItems)
            {
                <label class="btn btn-primary col-md-2 produceBoxes @(p.CurrentlyInCart?"active":"")">
                    <input type="checkbox" data-id="@p.Id" @(p.CurrentlyInCart ? "Checked=Checked" : "") data-price="@p.ItemPrice" autocomplete="off"> <span>@p.ItemName - @(p.ItemPrice.ToString("C"))</span>
                </label>
            }
        }
    </div>
</div>


